.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Body
Body {
  margin-top: -10%;
  padding: 0%;
} */

/* Header */
.header {
  max-width: 1600px;
  max-height: 837px;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #FFF8F3;
  margin: 0px;
}

/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 200px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

.btn-primary {
  background-color: #FD6E0A;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  cursor: pointer;
}

/* shared style */
.dark-2 {
  color: #474747;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;


}

.secendory-bgc {
  background-color: #FFF8F3;
}

.text-center {
  text-align: center;
}


.text-r {
  color: #FD6E0A
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 500;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
  margin-left: 200px;
}

.banner-content {
  max-width: 585px;
}

.banner-h4 {
  font-size: 45px;
  font-weight: 700;
  color: #474747;
}

.banner-h1 {
  font-weight: bold;
  font-size: 85px;
  color: #181818;
}

.banner-image {
  width: 584px;
  height: 676px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* all section margin rule */

main section {
  margin-top: 130px;
  margin-bottom: 80px;
}

.about-me {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.item-description {
  font-weight: 600;
}

.about-me-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  margin-bottom: -10px;
}

/* what i do section */
.what-i-do-container {
  display: flex;
  gap: 24px;
}

.skill { 
  padding: 20px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px

}

/* what i do sec er description text e padding add deyar jonno "ok" class id use korchi */

.BBB {
  padding-bottom: 30px;
}


